:root {
    --lightPrimaryColor: #dcedc8;
    --primaryColor: #7cb342;
    --darkPrimaryColor: #558b2f;
    --accentColor: #ff6e40;
    --text: #ffffff;
    --primaryText: #212121;
    --secondaryText: #737373;
    --dividerColor: #dbdbdb;
    --background: #fafafa;
}   

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0; 
    padding: 0; 
    border: 0;

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
  width: 100%;  
}

figure {
  width: 100%; 
  margin: 0;  
}

figure img {
  width: 100%;  
}

/* Definer grid */


@media only screen and (max-width: 768px) {

       
}
    /* Slut min: 768 */

@media only screen and (min-width: 768px) {

    
}
/* Slut min: 768 */


@media only screen and (max-width: 992px) {


}
